.login-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 109px;
}

.login-box {
  width: 100%;
  max-width: 400px;
  background: #fff;
  padding: 2rem;
  margin: 1rem;
  border-radius: 8px;
  box-shadow: 1px 3px 30px 11px rgba(0, 0, 0, 0.1);
}

.login-box h2 {
  font-size: 2rem;
  text-align: center;
  color: #212529;
  margin-bottom: 1.5rem;
}

.input-group {
  margin-bottom: 1.5rem;
  position: relative;
  flex-direction: column;
}


.input-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #212529;
}

.input-group input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px !important;
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  font-size: 1rem;
}

.links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.links a {
  text-decoration: none;
  font-size: 0.875rem;
  color: var(--main-gradient);
}

.links a:hover {
  text-decoration: underline;
}

.login-btn {
  width: 100%;
  padding: 0.75rem;
  background: var(--main-gradient);
  color: white;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  border: 1px solid transparent;
}

.login-btn:hover {
  background: white;
  color: var(--coquelicot);
  border: 1px solid var(--coquelicot);
}


#toggle-password, #toggle-confirm-password {
  position: absolute;
  right: 10px;
  top: 46px;
  background: none;
  border: none;
  color: var(--coquelicot);
  cursor: pointer;
  font-size: 14px;
}