
  .nav-item {
    list-style: none;
  }
  
  .link {
    text-decoration: none;
    color: var(--main-gradient);
  }

  .flex-column {
    height: 100vh;
  }
  
  .logo a {
    font-size: 30px;
  }
  
  li {
    list-style: none;
  }
  
  li.item a {
    font-size: 20px;
  }
  
  .subtitle1 span {
    background: var(--main-gradient);
    border-radius: 5px;
    color: white;
    font-weight: bold;
  }
  
  .main-img {
    width: 100%;
  }
  
  .profile-img {
    width: 100%;
    min-width: 500px;
    max-width: 800px;
    z-index: 2;
  }
  
  @media screen and (min-width: 1295px) {
    
  }
  
  .btn-chat {
    background: var(--main-gradient);
    color: white !important;  
  }
  
  .btn-chat:hover {
    border: 1px solid var(--coquelicot) !important;
    background: white;
    color: var(--coquelicot) !important;
    box-sizing: border-box;
  }