<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ByTongue Chatbot</title>
    <link rel="stylesheet" href="resources/styles/app.css">
    <link rel="stylesheet" href="resources/styles/lp.css">

</head>
<body>
    <div class="container">
        <h1 class="title">BYTONGUE CHATBOT</h1>
        <p class="slogan">Learn English, One Chat at a Time</p>
        <div class="buttons">
            <a href="#"><button class="btn" id="chat-now">Chat Now</button></a>
            <a href="#"><button class="btn" id="learn-more">Learn More about ByTongue</button></a>
        </div>
    </div>
</body>
</html>
