<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bytongue</title>
    <link rel="stylesheet" href="resources/styles/chat.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <script src="resources/scripts/chat.js" defer></script>
   <script src="resources/scripts/validated-user.js" defer></script>
  </head>
  <body class="show-chatbot">
    <div class="chatbot">
      <header>
        <h2>Bytongue Chatbot</h2>
      </header>
      <ul class="chatbox"></ul>
      <div class="chat-input">
        <textarea placeholder="Digite uma mensagem..." required></textarea>
        <span id="send-btn" class="material-symbols-outlined">send</span>
      </div>
    </div>
  </body>
</html>
