<!DOCTYPE html>
<html lang="pt-br">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Quiz</title>
   <link rel="stylesheet" href="resources/styles/quiz.css">
   <script src="resources/scripts/quiz.js" defer></script>
   <!-- FontAwesome CDN Link for Icons -->
   <script src="https://kit.fontawesome.com/afd13b5f95.js" crossorigin="anonymous"></script>

   <!-- Flags Countries CDN-->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.2.3/css/flag-icons.min.css"/>
</head>
<body>
   <!-- Info Box -->
   <div class="info_box">
      <div class="info_title">
         <span>Some rules of this Quiz</span>
      </div>
      <div class="info_list">
         <div class="info">1. You will have only <span>15 seconds</span> per each question.</div>
         <div class="info">2. Once you select your answer, you can't reselect</div>
         <div class="info">3. You can't select any option once time goes off.</div>
         <div class="info">4. You can't exit from the Quiz while you're playing.</div>
         <div class="info">5. You'll get points on the basics of your correct answer.</div>
      </div>
      <div class="buttons">
         <button class="continue_lang">Continue</button>
      </div>
   </div>

   <!-- Select Language -->
   <div class="select_lang desactive">
      <div class="lang_title">
         <span>Select the language you want to practice</span>
      </div>
      <div class="lang_list">
         <div class="lang_item">
            <button class="lang_button fi fi-br"></button>
            <p>Português</p>
         </div>
         <div class="lang_item">
            <button class="lang_button fi fi-us"></button>
            <p>Inglês</p>
         </div>
         <div class="lang_item">
            <button class="lang_button fi fi-es"></button>
            <p>Espanhol</p>
         </div>
         <div class="lang_item">
            <button class="lang_button fi fi-fr"></button>
            <p>Francês</p>
         </div>
         <div class="lang_item">
            <button class="lang_button fi fi-it"></button>
            <p>Italiano</p>
         </div>
         <div class="lang_item">
            <button class="lang_button fi fi-de"></button>
            <p>Alemão</p>
         </div>
      </div>
      <div class="buttons">
         <button class="continue">Continue</button>
      </div>
   </div>

   <!-- Loading -->
   <div id="loading" class="carregando">
      <div>
         <span></span>
         <span></span>
         <span></span>
      </div>
      <div>Carregando</div>
  </div>

   <!-- Quiz Box -->
   <div class="quiz_box desactive">
      <header>
         <div class="title">Awesome Quiz App</div>
         <div class="timer">
            <div class="time_text">Time Left</div>
            <dic class="time_sec">15</dic>
         </div>
      </header>
      <section>
         <div class="que_text">
         </div>
         <div class="option_list">
         </div>
      </section>

      <!-- Quiz Box Footer -->
      <footer>
         <div class="total_que">
         </div>
         <button class="next_btn">Next Question</button>
      </footer>
   </div>

   <!-- Result Box -->
   <div class="result_box desactive">
      <div class="icon">
         <i class="fas fa-crown"></i>
      </div>
      <div class="complete_text">You've completed the Quiz!</div>
      <div class="score_text">
      </div>
      <div class="buttons">
         <button class="restart">Replay Quiz</button>
         <button class="quit">Quit Quiz</button>
      </div>
   </div>
</body>
</html>